header {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(47, 116, 171);
  color: white;
  padding-top: 35px;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  img {
    display: block;
    width: 160px;
  }

  h1 {
    display: block;
    font-size: 3.75em;
    margin-left: 10px;
    max-width: 250px;
  }

  @media screen and (max-width: 430px) {
    flex-direction: column;
    h1 {
      font-size: 2.5em;
      text-align: center;
    }
  }
}
